In [1]:
from openbb import obb
obb.user.preferences.output_type = "dataframe"

# Beispiel: Historische Daten f√ºr Siemens (XETRA)
data = obb.equity.price.historical("SIE.DE", provider="yfinance", start_date="2023-01-01")
data.head()

Extensions to add: alpha_vantage@1.4.2, biztoc@1.4.3, cboe@1.4.2, deribit@1.0.2, ecb@1.4.3, econometrics@1.5.4, famafranch@1.0.0, famafrench@1.0.0, finra@1.4.2, finviz@1.3.2, government_us@1.4.2, multpl@1.1.2, nasdaq@1.4.2, openbb_charting@2.3.5, quantitative@1.4.4, sec@1.4.5, seeking_alpha@1.4.2, stockgrid@1.4.2, technical@1.4.4, tmx@1.3.3, tradier@1.3.2, wsj@1.4.2
Extensions to remove: sec@1.4.4

Building...

                  open        high         low       close   volume  dividend
date
2023-01-02  129.839996  130.580002  129.339996  129.820007   837714       0.0
2023-01-03  131.059998  132.619995  130.440002  130.940002  1426478       0.0
2023-01-04  132.740005  135.539993  131.800003  135.279999  1523962       0.0
2023-01-05  134.919998  136.259995  133.979996  134.839996  1056652       0.0
2023-01-06  134.899994  136.139999  132.919998  136.139999  1263457       0.0